altgraph==0.17.4
black==23.10.1
click==8.1.7
colorama==0.4.6
dicom2nifti==2.4.8
future==0.18.3
GoNifti @ https://github.com/MPR-UKD/GoNifti/raw/main/dist/GoNifti-0.3-py3-none-any.whl
mypy-extensions==1.0.0
nibabel==5.1.0
numpy==1.26.1
packaging==23.2
pathspec==0.11.2
pefile==2023.2.7
pip
platformdirs==3.11.0
pydicom==2.4.3
pyinstaller-hooks-contrib==2023.10
pyinstaller==6.1.0
PyQt6-Qt6==6.5.3
PyQt6-sip==13.6.0
PyQt6==6.5.3
python-gdcm==3.0.22
scipy==1.11.3
setuptools==68.2.2
tomli==2.0.1
tqdm==4.66.1
wheel
